@import "tailwindcss";

#right::-webkit-scrollbar{
    display: none;
}
@layer utilities {
  .typing {
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid white;
    animation: typing 3s steps(40, end) forwards, blink 0.75s step-end infinite;
  }

  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }

  @keyframes blink {
    50% { border-color: transparent; }
  }
}